[submodule "util/bmsutil"]
	path = util/bmsutil
	url = ../bmsnode_bmsutil.git
[submodule "doc/build/doxygen-dark-theme"]
	path = doc/build/doxygen-dark-theme
	url = https://github.com/MaJerle/doxygen-dark-theme.git
